<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gira.cdap.com.giira">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckinActivity" />
        <activity android:name=".ProfileFragment" />
        <activity android:name=".ProfileActivityFrame" />
        <activity android:name=".FriendRequestFrame" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".CardDemoActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".DisasterForecast.DisasterForecastActivity" />
        <activity android:name=".WeatherForecast.WeatherPrediction" />
        <activity android:name=".OptimalPath.Userjourney" />
        <activity android:name=".OptimalPath.MapsActivity" />
        <activity android:name=".EventPlanningFragment" />
        <activity android:name=".DisasterFragment" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".NewEvent" />
        <activity android:name=".NewTeam" />
        <activity
            android:name=".requestplace"
            android:label="@string/title_activity_requestplace"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".one_place"
            android:label="@string/title_activity_one_place"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".request_place_by_user"
            android:label="@string/title_activity_request_place_by_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".display_results"
            android:label="@string/title_activity_display_results"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".One_Accomadation"
            android:label="@string/title_activity_one__accomadation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Search_results_filter"
            android:label="@string/title_activity_search_results_filter"
            android:theme="@style/AppTheme" />
        <activity android:name=".TourFragment" />
        <activity android:name=".TourPlanning" />
        <activity android:name=".Emergancy" />
        <activity android:name=".Featureplace" />
        <activity android:name=".NearByPlace" />
        <activity android:name=".Accomadation" />
        <activity android:name=".Transport" />
        <activity android:name=".Toprated" />
        <activity android:name=".Mostvisited" />
        <activity android:name=".SingleItemView" />
        <activity android:name=".MapsActivitys" />
        <activity android:name=".Other" />
        <activity
            android:name=".sample"
            android:label="@string/title_activity_sample"
            android:theme="@style/AppTheme" />
        <activity android:name=".NotificationActivity"></activity>
    </application>

</manifest>